<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>User login form</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
<div th:replace="navbar :: navbar"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Sign In</h3>
        </div>
        <div class="card-body">
            <form action="/user/loginAction" method="post">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" name="login" placeholder="login" id="login">
                    <!--<input th:field="*{login}" type="text" name="login" class="form-control" id="login" >-->
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="password" id="password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>
                <br>
                <div class="text">
                    If it is your first time, then please sign in
                </div>


            </form>
            <br>
            <form action="/user/register" method="get">
                <input type="submit" value="Sign in">
            </form>
        </div>
    </div>
</div>
</body>

</html>